body{
    background: linear-gradient(to left , rgb(237, 152, 166) , rgb(31, 224, 224));
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    background-color: blanchedalmond;
    border-radius: 20px;
    padding: 20px;
    box-shadow:  0 0 18px rgb(192, 21, 21);
    display:flex;
    flex-direction: column;
    align-items: center;
}
h1{
    
   
}
.container h1{
    
    text-decoration:underline
}
.title{
    font-size: 30px;
    margin-bottom: 1.5rem;
}
.stopwatch{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.timer{
    font-size: 35px;
    background-color:rgb(168, 156, 156) ;
    border-radius:10px ;
    padding: 10px;
    box-shadow: 0 0 5px ;

    animation:pulse 1.5s infinite alternate;
}

@keyframes pulse {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}
.timer span{
    width : 60px;
    display: inline-block;
    text-align: center;

}
.controls{
    display: flex;
    gap: 1.5 rem;
}

button{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: rgb(49, 189, 239);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
button:hover{
    background-color: crimson;
}

.lap-title{
    font-size: 1.5rem;
}
.laps{
    width:100%;
    
}

    ul{
        list-style-type: none ;
        padding: 5px;;
        margin: 0;
        overflow-y: auto;
        max-height:150px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 5px ;
    }
    li{
        padding: 1rem;
        border-bottom: 1px solid whitesmoke;
        

    }
    li:last-child{
        border-bottom: none;
        
    }
    li span{
        font-weight: 700;
    }